.form-header {
  padding: 10px 20px 10px;
  // background-color: #28c34c;
  background-color: #4f78a9;
  color: white;
}

.form-body {
  padding: 0px 20px 20px;
}

.form-table {
  border-collapse: separate;
  border-spacing: 0px 20px;
}
.form-item-detail {
  margin: 20px 0px;
}

.radio-buttons-row {
  display: inline-block;
}

.radio-button-display-name {
  display: inline-block;
  margin: 0px 25px 0px 8px;
  font-size: 0.8rem;
}

.text-box {
  height: 150px;
}
