.list {
  background-color: $white;
}

.root-list-new-button-container {
  border-right: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}

div.list-items--root > div.list-item--first {
  border-top: none;
}

.list-items {
  margin: 0px 0px 5px 10px;
}

.list-items--root {
  margin-left: 0px;
}

.list-item {
  border: 1px solid #e4e4e4;
  border-top: none;
  padding: 2px 10px;
}

.list-item--first {
  border-top: 1px solid #e4e4e4;
}

.list-item-header {
  cursor: default;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-name {
  margin-left: 8px;
  display: inline-block;
}

.list-item-has-warning--yellow {
  background: yellow;
}

.list-item-warning {
  text-align: center;
  font-style: italic;
}

.item-detail-name {
  padding-right: 50px;
}

.item-detail-value {
  text-align: right;
}

.item-detail-input {
  text-align: right;
}

.item-detail-edit-and-save {
  padding-left: 50px;
}

.text-align-right {
  text-align: right;
}

.EditAndSaveButtonRow-container {
  padding-left: 20px;
  display: inline-block;
}
