// @import './reset.scss';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

$default-font-family: "Source Sans Pro", sans-serif;
$white: #ffff;
$grey: #f3f4f8;

body {
  // padding: 10px 20px;
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: $default-font-family;
  background-color: $grey;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
  vertical-align: bottom;
}

.hidden {
  display: none;
}

.root-container {
  margin: 0px 13px 13px;
}

.text-align-right {
  text-align: right;
}

.error-message-container {
  margin-top: 20px;
}

.error-message {
  color: red;
}

@import "./buttons_and_icons.scss";
@import "./form.scss";
@import "./modal.scss";
@import "./navbar.scss";
@import "./tabs.scss";
@import "./list.scss";
